@import "./node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');


$font-family-sans-serif:'Roboto', sans-serif;
$primary : #343A4B; 
$secondary : #293042;
$input-bg :$primary;
$input-placeholder-color : #A9A696;
$input-border-color : $secondary;
$input-font-size:14px;
$input-color:#B6B8BE;
$card-bg : $primary;
$table-cell-padding-y:20px;
$table-border-color:#8b8c8fd5;


@import "./node_modules/bootstrap/scss/bootstrap.scss";

.q{
    color:gray;
    font-weight: bolder;
}

.dd{
  font-size: 13px;
   margin-top:3px;
   color:rgb(151, 150, 150);
}

.my{
width: 42px;
border-radius: 100px;

}

.sv{
  max-width: 170px;
}



.cd{
  
  min-height: 140px !important;
  padding: 2px 7px;
}

.btt{
  background-color: #34ee7891 !important;
  color:white;
  cursor:inherit !important;
  font-size: 10px;
}

.btc{
  background-color: #D5524F !important;
  color:white;
  cursor:inherit !important;
  font-size: 10px;
}

.charrt{
  
}

.bb{
  min-height: 341px;
}

.ff{
  margin-top: 43px;
  height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.384);
}

.tt{
  min-width: 100px;
  background-color: white !important;
  overflow: hidden;
}

.uls{
  transition: display 2s;
}

.arro{
 
  
}


.arrod{
  display: none;
}

.rot{
 
}

.head{
  cursor: pointer;
}

.a{
  cursor: pointer;
}

.a:hover{
  color:rgb(54, 169, 235) !important
  
}

.line{
  background-color: rgba(128, 128, 128, 0.719);
  height: 1px;
  width: 210px;
  padding: 0;
  margin-left: -25px;
}

.conntent{
  cursor: pointer;
}

.lii:hover{
  color:rgb(54, 169, 235) !important
}

::-webkit-scrollbar {
  width: 0px;
}

.side{
  position: absolute;
  z-index: 5000;
  background-color:#343a4bef;
  transform: translateX(-375px);
  transition: all 0.6s;
}

.left{
  transform:  translateX(0px);
}

.le{
  position: relative;
}

.menu{
  cursor: pointer;
}

.menu:hover{
  color: rgb(240, 25, 25);
}

.dele{
  font-size: 20px;
  
  color:rgba(255, 255, 255, 0.815);
  position: absolute;
  top: 1px;
  right: 17px;
  cursor: pointer;
}

.dele:hover{
  color:white;
}

.logo{
 position:sticky;
 top: 0;
  background-color: #293042e0;
  height: 55px;
  padding-top:13px ;
  
}

.logo h5{
  margin-top: 0;
}